/* src/App.css */
.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #1e1e2f, #252538);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  position: relative;
  font-size: 2.5em;
}

h1 {
  margin-bottom: 1.5rem;
}

p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

a {
  color: #ffdd57;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
